@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('http://fonts.googleapis.com/css?family=Raleway:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body, h1, h2, h3, h4, h5, h6, p, input, button, textarea, .btn {
  font-family: 'Roboto', 'Noto Sans KR';
  font-weight: 400;
}

p {
  text-align: justify;
}

a {
  color: #303030;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
}

a:hover {
  color: #666;
  text-decoration: none;
}

#tistorytoolbarid {
  z-index: 9999 !important;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
	font-size: 14px;
}

span.imageblock {
  max-width: 100%;
  height: auto;
}

/* Syntax highlighter */

.syntaxhighlighter {
  padding: 2px 0;
  /* 세로 스크롤바 생기는 버그를 위한 css 추가 */
}


/*==================== Bootstrap ====================*/


/*
.blurheader {
    background: rgba(255, 255, 255, .4);
    height: 88px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom:1px solid rgba(0, 0, 0, 0);
    z-index: 10000000000;
}
*/

.jumbotron {
  margin-bottom: 20px;
}

#searchList.jumbotron {
  border: 2px solid #e5e5e5;
  background-color: #fff;
}


/* Navigation */

.navbar {
  transition: all ease .5s;
  font-family: 'Roboto', sans-serif;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}

.navbar-brand {
  transition: all ease .3s;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-shadow: 0px 0px 3px #222;
}

.navbar-brand>img {
  height: 30px;
  width: auto;
}

.navbar-inverse {
  border: 0;
  background: rgba(0, 0, 0, .0);
}

nav.navbar-inverse a.navbar-brand {
  color: #fff;
}

nav.navbar-inverse a.navbar-brand:hover {
  color: #eee;
}

nav.navbar-inverse .navbar-nav>li {
  margin-top: 15px;
  transition: all ease .3s;
  text-shadow: 0px 0px 3px #222;
}

nav.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

nav.navbar-inverse .navbar-nav > li > a:hover {
  color: #eee;
}

nav.navbar-inverse .navbar-nav > li > a:visited {
  color: #eee;
}

nav.navbar-inverse .navbar-nav > li > a:focus {
  color: #eee;
}

nav.navbar-inverse .navbar-nav > li.dropdown > ul > li {
  color: #fff;
  text-shadow: 0px 0px 0px;
}

nav.navbar.shrink {
  min-height: 35px;
  max-height: 50px;
}

nav.navbar.shrink .navbar-nav>li {
  transition: all ease .3s;
  margin-top: 0px;
}

nav.navbar-inverse.shrink {
  background: rgba(0, 0, 0, .7);
}

nav.navbar-inverse.shrink .navbar-brand {
  font-size: 23px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Jumbotron */

body > .jumbotron {
	margin-bottom: 0px;
  padding: 0px;
  background-image: url('./images/blog_title_1920.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

body > .jumbotron img {
  vertical-align: top;
  width: 100%;
  opacity: 0;
}

/* Carousel */

.carousel {
  top: 0;
}

.container-fluid .col-md-12 {
  padding: 0;
}


/* Content */

#searchList h1 {
  font-size: 24px;
  font-weight: 700;
}

#searchList ul.fa-ul {
  margin-left: 0;
  list-style-type: none;
}

#searchList ul.fa-ul li:first-child {
  border-top: 1px solid #ccc;
}

#searchList ul.fa-ul li {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}

#searchList ul.fa-ul li i {
  position: relative;
  left: 0;
}

#searchList ul.fa-ul li:last-child {
  border-bottom: 1px solid #ccc;
}

.titleWrap h2 {
  margin-top: 0;
}

.titleWrap h2 a:hover {
  color: #666;
  text-decoration: none;
}

.titleWrap h2 a:visited, .titleWrap h2 a:focus {
  color: #222;
}

.entry {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.article a {
  color: #999;
  text-decoration: underline;
}

.entry .article img {
  display: inline-block;
  width: auto\9 !important;
  /* ie8 */
  width: auto !important;
  max-width: 100%;
  height: auto !important;
}

.entry .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.comment {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.comment .checkbox {
  display: inline-block;
}

#content {
  padding-top: 30px;
}

.titleWrap h2 {
  font-family: 'Raleway', 'KoPub Dotum';
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.label-primary a {
  color: #fff;
}

a i {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 30px;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.another_category {
  border: 2px solid #dce4ec !important;
}

.another_category h4 {
  font-size: 16px;
}

.another_category_color_gray, .another_category_color_gray h4 {
  border-radius: 4px;
}

.author {
  margin-bottom: 10px;
  line-height: 2;
  font-size: 100%;
  font-weight: 700;
  color: #222;
}

.author img {
  width: 100px;
  float: left;
  margin-right: 20px;
}

.author span {
  margin-right: 5px;
  font-size: 100%;
}

.author.alert-success {
  border-color: #e5e5e5;
}

.author a {
  display: inline;
  font-size: 100%;
  font-weight: 700;
  color: #222;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.tagTrail {
  margin-bottom: 10px;
  line-height: 2;
  font-size: 100%;
  font-weight: 700;
  color: #222;
}

.tagTrail span {
  margin-right: 5px;
  font-size: 100%;
}

.tagTrail a {
  display: inline;
  font-size: 100%;
  font-weight: 700;
  color: #222;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.actionTrail {
  font-size: 100%;
  font-weight: 700;
  line-height: 2;
}

.actionTrail a:hover {
  color: #666;
  text-decoration: none;
}

.actionTrail a:visited {
  color: #666;
  text-decoration: none;
}

.actionTrail a:focus {
  color: #666;
  text-decoration: none;
}

.actionTrail span {
  font-size: 100%;
}

.trackback {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.trackback h3 {
  line-height: 2;
  font-weight: 700;
  font-size: 100%;
  margin: 0;
}

.trackback h3 span {
  margin-right: 5px;
  font-size: 100%;
}

.widget {
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}


/* Footer */

#footer {
  background-color: #222;
  padding: 20px 0;
  color: #fff;
}

#footer p {
  margin: 0;
}

#footer a {
  color: #aaa;
}

#footer-widget {
  background-color: #333;
  margin-top: 40px;
  padding: 0 0 40px 0;
  color: #818181;
}

#footer-widget a {
  color: #818181;
}

#footer-widget a.btn {
  color: #fff;
}

#footer-widget #profile p {
  padding: 10px 0;
}

#footer-widget a:hover {
  color: #fff;
  text-decoration: none;
}

#footer-widget h3 {
  padding-top: 40px;
  font-family: 'Raleway', 'KoPub Dotum';
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  color: #fff;
}

#footer-widget #recentPost a i {
  width: auto;
  height: auto;
}


/* Sidebar */

.sidebar h3 {
	color: #2c3e50;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.sidebar h3 i {
  padding-right: 10px;
}

#adminMenu {
  text-align: center;
}

#category ul {
  padding-left: 10px;
  margin-left: 0;
  list-style-type: none;
}

#category ul li:before {
  content: "\f0f6";
  padding-right: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

#category ul li ul {
  padding-left: 0;
  margin-left: 20px;
  list-style-type: none;
}

#category ul li ul li:before {
  content: "\f114";
  padding-right: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

#category ul li ul li ul {
  padding-left: 0;
  margin-left: 20px;
  list-style-type: none;
}

#category ul li ul li ul li:before {
  content: "\f115";
  padding-right: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

#calendar caption.cal_month a {
	font-size: 14px;
	font-weight: 500;
  padding: 5px 5px;
}

#notice .fa-ul {
  margin-left: 10px;
}

#notice .fa-ul li i {
  padding-right: 5px;
}

#recentTrackback .fa-ul {
  margin-left: 10px;
}

#recentTrackback .fa-ul li i {
  padding-right: 5px;
}

#archive .fa-ul {
  margin-left: 10px;
}

#archive .fa-ul li i {
  padding-right: 5px;
}

#link .fa-ul {
  margin-left: 10px;
}

#link .fa-ul li i {
  padding-right: 5px;
}

#tagbox ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tagbox ul li {
	display: inline-block;
}

#tagbox ul li a {
  display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
  color: #fff;
	background-color: #ccc;
	border-radius: 10px;
}

#tagbox ul li .cloud1{
  background-color: #d9534f;
;
}

#tagbox ul li .cloud2{
  background-color: #f0ad4e;
}

#tagbox ul li .cloud3{
  background-color: #5cb85c;
}

#tagbox ul li .cloud4{
  background-color: #5bc0de;
}


/* Common Menu */

span.name {
  font-weight: 700;
}

span.date {
  font-style: italic;
  font-size: 80%;
}

#guestbook h1 {
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #2c3e50;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#guestbook h1 i {
  padding-right: 10px;
}

#localog h1 {
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #2c3e50;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#localog h1 i {
  padding-right: 10px;
}

#taglog h1 {
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #2c3e50;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#taglog h1 i {
  padding-right: 10px;
}

#taglog ul {
  list-style-type: none;
  padding-left: 0;
}

#taglog li {
  display: inline-block;
}

#taglog li span.alert {
  padding: 5px 10px;
}

#guestWrite .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

#guestList {
  padding-top: 50px;
}

#guestList .fa-ul {
  margin-left: 0;
}

#guestList .fa-li {
  position: relative;
  left: auto;
  width: auto;
  top: auto;
}

#guestReply {
  border-left: 1px solid #dce4ec;
}

#guestReply .fa-ul {
  margin-left: 20px;
}

#guestReply .fa-li {
  position: relative;
  left: auto;
  width: auto;
  top: auto;
}

#commentList .fa-ul {
  margin-left: 0;
}

#commentList .fa-li {
  position: relative;
  left: auto;
  width: auto;
  top: auto;
}

#commentReply {
  border-left: 1px solid #dce4ec;
}

#commentReply .fa-ul {
  margin-left: 20px;
}

#commentReply .fa-li {
  position: relative;
  left: auto;
  width: auto;
  top: auto;
}

.input-group {
  padding-bottom: 10px;
}

#blogImage img {
  margin: 0 auto;
}

.comment h3 {
  font-weight: 700;
  font-size: 150%;
}

.comment h3 i {
  padding-right: 5px;
}

ul.pagination li a {
  font-size: 100%;
}

span.interword {
  position: relative;
  float: left;
  padding: 10px 15px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ffffff;
  font-size: 100%;
  background-color: #18bc9c;
  border: 1px solid transparent;
  margin-left: -1px;
}

.alert {
  border-width: 2px;
}

.alert a {
  color: #222;
}

.alert-success {
  background-color: #fff;
  border-color: #dce4ec;
  color: #222;
}


/* 티스토리 기본 위젯 */


/* 달력 위젯 */

#calendar a {
  text-decoration: none;
}

#calendar a.cal_click {
  background-color: #0f7864;
  display: inline-block;
  padding: 3px 7px;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
}

caption.cal_month {
  text-align: center;
}

.social {
  text-align: center;
}

table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td {
  text-align: center;
}


/* Comment */

input#tab1:checked~.labels>label[for="tab1"], input#tab2:checked~.labels>label[for="tab2"], input#tab3:checked~.labels>label[for="tab3"] {
  background-color: #337ab7;
  color: #fff;
}

.tabs>.labels>label a {
  color: inherit;
}

.tab_container {
  clear: both;
  overflow: auto;
  width: 100%;
  padding: 1em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.tabs>input[type="radio"], .tabs .tab_content {
  display: none;
}

.notAvailable {
  border: #f00 solid 1px;
  background: #fdd;
  padding: 1em;
}

input[name="tabs"]:checked~.tab_container>.notAvailable {
  display: none;
}

input#tab1:checked~.tab_container>#tab1Container, input#tab2:checked~.tab_container>#tab2Container, input#tab3:checked~.tab_container>#tab3Container {
  display: block;
}


/* Responsive */

@media (max-width: 767px) {
	body > .jumbotron {
		margin-top: 80px;
	}
  #content {
    padding-top: 20px;
  }
  nav.navbar-inverse .navbar-header {
    background: rgba(0, 0, 0, 1);
  }
  nav.navbar-inverse .navbar-collapse {
    background-color: rgba(0, 0, 0, .7);
  }
  nav.navbar-inverse .navbar-toggle {
    border-color: #cccccc;
    transition: all ease .3s;
    margin: 23px 15px 8px 0px;
  }
  nav.navbar-inverse .navbar-nav>li {
    margin-top: 0px;
    transition: all ease .3s;
    text-shadow: 0px 0px 3px #222;
  }
  nav.navbar-inverse.shrink {
    background: rgba(0, 0, 0, .7);
  }
  nav.navbar-inverse.shrink .navbar-toggle {
    margin: 8px 15px 8px 0;
  }
  .jumbotron {
    padding-left: 20px;
    padding-right: 20px;
  }
  ul.pagination li a, span.interword {
    padding: 5px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
